# OS, IDE, editors
.idea
.DS_Store

# Root system or dev dirs
/none
/build
/logs
/tmp
/bin/*
/resources
/src/cck/composer.lock
/node_modules
/bower_components
/vendor

# Framework
/src/cck/bin
/src/cck/libraries
/src/wordpress/jbzoo/cck
/src/joomla/com_jbzoo/admin/cck
/src/joomla/pkg_jbzoocck/packages

# Atoms assets
/src/**/*.min.*
/src/**/*.min.*.map
/src/**/fonts
!/src/**/*.jsx

# Misc
*.log
*.log.php
*.*.map

