<?xml version="1.0" encoding="UTF-8" ?>
<!--
    JBZoo CCK

    This file is part of the JBZoo CCK package.
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @package    CCK
    @license    Proprietary http://jbzoo.com/license
    @copyright  Copyright (C) JBZoo.com,  All rights reserved.
    @link       http://jbzoo.com
-->
<phpunit bootstrap="tests/autoload/init.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false"
>
    <php>
        <const name="__CMS__" value="joomla"/>
        <const name="JBZOO_PATH" value="administrator/components/com_jbzoo/cck"/>
        <const name="CMS_ADMIN_ID" value="951"/>

        <env name="JOOMLA_HOST" value="127.0.0.1:8081"/>
        <env name="HTTP_USER" value=""/>
        <env name="HTTP_PASS" value=""/>
    </php>

    <testsuites>
        <testsuite name="Joomla">
            <directory suffix="Test.php">./tests/unit/atoms</directory>
            <directory suffix="Test.php">./tests/unit/elements</directory>
            <directory suffix="Test.php">./tests/unit/framework</directory>
            <file>./tests/unit/utility/Utility_UnitHelperTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/cck/vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
