<?xml version="1.0" encoding="UTF-8" ?>
<!--
    JBZoo CCK

    This file is part of the JBZoo CCK package.
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @package    CCK
    @license    Proprietary http://jbzoo.com/license
    @copyright  Copyright (C) JBZoo.com,  All rights reserved.
    @link       http://jbzoo.com
-->
<phpunit bootstrap="tests/autoload/init_composer.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false"
>

    <testsuites>
        <testsuite name="Utility">
            <directory suffix="Test.php">tests/unit/utility</directory>
        </testsuite>
    </testsuites>

</phpunit>
